@CHARSET "ISO-8859-1";
form#cadastro{
	width: 100%;
	margin: 0 auto;
}

div#cadastro_enviar{
	position: relative;
	width: 62px;
	left: 561px;
}

table#cadastro{
	width: 90%;
	margin: 0 auto;
}

form#cadastro input#ititulo, form#cadastro textarea {
	width: 100%;
}

form#cadastro textarea {
	height: 366px;
}

div#upload{
	width: 100%;
	margin-top: 30px; 
	margin-bottom: 10px;
}

div#upload_img{
	width: 14%;
	cursor: pointer;
}

div#remover{
	cursor: pointer;
}