@CHARSET "ISO-8859-1";
body{
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: verdana, arial, sans serif;
	font-size: 13px;
	background: #7ad046;
}

div#all{
	width: 936px;
	height:100%;
	margin: 0 auto;
}