@CHARSET "ISO-8859-1";
div#lista{
	width: 736px;
	margin-top: 10px; 
	margin-bottom: 10px;
}

table#lista_artigos{
	width: 90%;
	margin: 0 auto;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

table#lista_artigos thead{
	text-weight: bold;
}