@CHARSET "ISO-8859-1";
div#lista{
	width: 100%;
	margin-top: 100px;
	background: #f4f7d4;
	border: 1px solid #ffc90c; 
	margin-bottom: 10px;
}

table#lista_artigos{
	width: 90%;
	margin: 0 auto;
	text-align: left;
}

table#lista_artigos thead{
	text-weight: bold;
}